
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.light-blue{
    color: #0077be;
}

#app{
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
}

#directory{
    margin-top: 580px;
    margin-left: 100px;
    width: 200px;
}
